<ng-container *ngIf="concept$ | async as concept">

    <div class="fullscreen">
        <app-navbar-detail-component [concept]="concept">

            <span ngbDropdown class="mr-2">
                <button ngbDropdownToggle class="btn btn-info dropdown-toggle btn-sm" type="button">
                    {{ key1$ | async | uppercase }}
                </button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button ngbDropdownItem (click)="key1$.next('prestacion')">
                        Prestacion
                    </button>
                    <button ngbDropdownItem (click)="key1$.next('profesional')">
                        Profesional
                    </button>
                    <button ngbDropdownItem (click)="key1$.next('organizacion')">
                        Organizacion
                    </button>
                    <button ngbDropdownItem (click)="key1$.next('paciente')">
                        Paciente
                    </button>
                    <button ngbDropdownItem (click)="key1$.next('localidad')">
                        Localidad
                    </button>
                    <button ngbDropdownItem (click)="key1$.next('decada')">
                        Sexo
                    </button>
                    <button ngbDropdownItem (click)="key1$.next('decada')">
                        Decada
                    </button>
                </div>
            </span>

            <span ngbDropdown class="mr-2">
                <button ngbDropdownToggle class="btn btn-info dropdown-toggle btn-sm" type="button">
                    {{ key2$ | async | uppercase }}
                </button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button ngbDropdownItem (click)="key2$.next('prestacion')">
                        Prestacion
                    </button>
                    <button ngbDropdownItem (click)="key2$.next('profesional')">
                        Profesional
                    </button>
                    <button ngbDropdownItem (click)="key2$.next('organizacion')">
                        Organizacion
                    </button>
                    <button ngbDropdownItem (click)="key2$.next('paciente')">
                        Paciente
                    </button>
                    <button ngbDropdownItem (click)="key2$.next('localidad')">
                        Localidad
                    </button>
                    <button ngbDropdownItem (click)="key2$.next('decada')">
                        Sexo
                    </button>
                    <button ngbDropdownItem (click)="key2$.next('decada')">
                        Decada
                    </button>
                </div>
            </span>

            <button class="btn btn-outline-danger btn-sm" type="button" (click)="cerrar()">
                X
            </button>
        </app-navbar-detail-component>

        <div #grafo> </div>
    </div>


</ng-container>