main {
    height: 100vh;
    display: grid;
    grid-template-areas: "header header"
                         "sidebar search"
                         "sidebar main";
    grid-template-rows:    56px  56px 1fr;
    grid-template-columns: 0px 1fr;

    &.open {
        grid-template-columns: 400px 1fr;
    }
}

ui-navbar {
    grid-area: header;
    
}

snomed-search {
    grid-area:  sidebar;
    // overflow: scroll;
}

app-query-options {
    grid-area: search;
}

.main {
    grid-area: main;
    overflow-y: scroll;
    overflow-x: hidden;
}


