<ng-container *ngIf="concept$ | async as concept">

    <div class="fullscreen">
        <app-navbar-detail-component [concept]="concept">
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="cerrar()">
                X
            </button>
        </app-navbar-detail-component>

        <iframe #frame style="height:calc(100% - 58px); width:100%;border:none"
                src="https://sanddance.js.org/embed/v1/sanddance-embed.html"></iframe>
    </div>


</ng-container>