.contenedor-semantic-tags {
    width: 100%;
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    height: 88px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: column;
}


.toogle-float {
    position: absolute;
    top: 50%;
    left: 385px;
    background-color: darkturquoise;
    width: 18px;
    height: 56px;
    text-align: center;
    align-items: center;
    display: flex;
}

.list-group-item {
    padding: 0.25rem 0.25rem;
    cursor: pointer;
     &:hover {
         background-color: lightgray;
     }
}

.font-sm{
    font-size: 0.8rem;
}