//FORMALES
$font-sm: 0.8rem;

// CROMATICAS
// Semantics
$anomalia: crimson;
$atributo: rgb(40, 55, 167);
$ambiente: yellowgreen;
$calificador: #4B0082;
$celula: #11910D;
$entidad: #662482;
$elemento: rgb(30, 175, 47);
$estructura-corporal: #EA1E79;
$evento: steelblue;
$hallazgo: #f4a03b;
$navegacion: #51c5e6;
$objeto: gray;
$ocupacion: rgb(216, 81, 32);
$organismo: olive;
$problema: #f1930d;
$procedimiento: #92278e;
$producto: #00bcb4;
$regimen: #0070cc;
$sustancia: teal;
$situacion: #a0a0a0;
$trastorno: #ff4a1a;
$proveedor: #808080;
$persona: #DB7093;
$forma-liberacion: #C71585;
$forma-farmaceutica: #FF1493;
$forma-farmaceutica-basica: #FA8072;
$presentacion-farmaceutica-comercial: #C0C0C0;
$estructura-celular: #FFD700;
$escala-evaluacion: #32CD32;
$grupo-etnico: #CD853F;
$grupo-racial: #D2B48C;
$estado-materia: #0f0907;
$localizacion: #F4A460;
$especimen: #3CB371;
$estilo-vida: #8B008B;
$farmaco-comercial: #FF4500;
$farmaco-clinico: #800080;
$unidad-presentacion: #B0E0E6;
$religion-filosofia: #FFC0CB;
$metadato-fundacional: #800000;
$metadato-nucleo: #B0E0E6;
$metodo-administracion: #DDA0DD;
$concepto-metadatos-owl: #0000FF;
$sitio-administracion-previsto: #EE82EE;
$transformacion: #483D8B;
$disposicion: #9966CC;
$estadificacion-tumoral: #F5DEB3;
$estado-materia: #90EE90;
$fuerza-fisica: #FFDAB9;