/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import '../../../libs/ui/src/styles';

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}
 

.md-drppicker {
    width: 776px!important;
}

div {
	&::-webkit-scrollbar { 
        width: 8px;
		height: 8px;
		background:  #00A8E0;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background:  #00A8E0;
        border: 0;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb:hover {
        background:  #00A8E0;
    }

    &::-webkit-scrollbar-thumb:active {
        background: #002738;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track:active,
    &::-webkit-scrollbar-track:hover {
        background: #f9f9f9;
        border: 0;
        border-radius: 0;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}