<div class="app-query-options">
    <div>
        <input type="text" ngxDaterangepickerMd [ranges]="ranges" [alwaysShowCalendars]="true" opens="center"
               [(ngModel)]="selected" class="form-control" placeholder="Desde -> Hasta"
               (datesUpdated)="datesUpdated($event)" [showClearButton]="true" />
    </div>
    <div>
        <ng-select [items]="organizations$ | async" bindLabel="nombre" [trackByFn]="trackByFn" [typeahead]="orgInput$"
                   [(ngModel)]="selectedOrganizations" (change)="onOrgSelect($event)"
                   placeholder="Seleccione una organización...">
        </ng-select>
    </div>
    <!-- <div class="form-group pr-2 col-3">
        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button">
                    <i class="mdi mdi-calendar"></i>
                </button>
                <input class="form-control" placeholder="Desde" name="dp" (dateSelect)="onStartDate($event)"
                       ngbDatepicker #dd="ngbDatepicker">
            </div>
        </div>
    </div>
    <div class="form-group col-3">
        <div class="input-group">
            <input class="form-control" placeholder="Hasta" name="dph" (dateSelect)="onEndDate($event)" ngbDatepicker
                   #dh="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dh.toggle()" type="button">
                    <i class="mdi mdi-calendar"></i>
                </button>
            </div>
        </div>
    </div> -->
    <!-- <div ngbDropdown>
        <button ngbDropdownToggle class="btn btn-block dropdown-toggle" type="button">
            {{ qf.relationship$ | async }}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button ngbDropdownItem (click)="setRelationshipMode('stated')">
                Stated Relationship
            </button>
            <button ngbDropdownItem (click)="setRelationshipMode('inferred')">
                Inferred Relationship
            </button>
        </div>
    </div> -->
</div>